<!DOCTYPE html>
<html lang="en">
<head>
    <% var dir = process.cwd() %>
    <%- include(dir + "/src/views/partials/head.ejs") %>
</head>
<body>
    <%- include(dir + "/src/views/partials/navbar.ejs") %>
    <div class="container mtop20px">
        <div class="row">
            <div class="col-lg-6">
                <img src="<%= story.imgSrc %>" alt="..." class="detail-img"/>
            </div>
            <div class="col-lg-6">
                <h3><%= story.name %></h3>
                <span>Tác giả: <%= story.author %></span>
                <br />
                <span>Tình trạng: <%= story.status %></span>
                <br />
                <span>Thể loại: <%= story.genres %></span>
                <br />
                <span>Lượt xem: <%= story.view_count %></span>
                <br />
                <span>Follower: <%= story.follower %></span>
                <br />
                <span>Đánh giá: <%= story.rate %>/5 - Lượt đánh giá: <%= story.rating_count %></span>
                <br />
                <a class="btn btn-secondary mtop20px" href="/stories/<%= story._id %>/edit">Sửa truyện</a>
                <a class="btn btn-success mtop20px" href="/stories/create">Thêm truyện</a>
                <br /> 
                <a class="btn btn-secondary mtop20px" href="/chapters/<%= story._id %>/edit">Sửa Chapter</a>   
                <a class="btn btn-success mtop20px" href="/chapters/<%= story._id %>/create">Thêm Chapter</a>                
            </div>
        </div>
    </div>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</body>
</html>